<%= render(Impulse::BaseRenderer.new(**@system_args)) do %>
  <%= content_tag :div, class: class_names("awc-autocomplete-control form-control", "form-control-sm": @size == "sm", "form-control-lg": @size == "lg"), data: { target: "awc-autocomplete.control", trigger: "" } do %>
    <% if multiple? %>
      <%= hidden_field @object_name, @method_name, id: nil, multiple: true, value: nil, data: { behavior: "hidden-field" }, **hidden_field_args if @include_hidden %>
      <% @selected&.each do |selected| %>
        <div class="awc-autocomplete-tag" value="<%= selected.value %>" data-behavior="tag" data-persisted>
          <span class="awc-autocomplete-tag-text" data-behavior="text"><%= selected.text %></span>
          <span class="awc-autocomplete-tag-end-adornment">
            <%= content_tag :button, type: :button, class: "awc-autocomplete-tag-dismiss-btn btn", tabindex: "-1", title: "Remove", disabled: @disabled, data: { action: "click->awc-autocomplete#handleTagRemove", target: "awc-autocomplete.tagDismissBtns" } do %>
              <i class="bi bi-x"></i>
            <% end %>
          </span>
          <%= hidden_field @object_name, @method_name, id: nil, value: selected.value, multiple: true, data: { behavior: "hidden-field", text: selected.text }, **hidden_field_args %>
        </div>
      <% end %>

      <template data-behavior="tag-template">
        <div class="awc-autocomplete-tag" data-behavior="tag">
          <span class="awc-autocomplete-tag-text" data-behavior="text"></span>
          <span class="awc-autocomplete-tag-end-adornment">
            <%= content_tag :button, type: :button, class: "awc-autocomplete-tag-dismiss-btn btn", tabindex: "-1", title: "Remove", data: { action: "click->awc-autocomplete#handleTagRemove", target: "awc-autocomplete.tagDismissBtns" } do %>
              <i class="bi bi-x"></i>
            <% end %>
          </span>
          <%= hidden_field @object_name, @method_name, id: nil, value: nil, multiple: true, data: { behavior: "hidden-field" }, **hidden_field_args %>
        </div>
      </template>
    <% else %>
      <%= hidden_field @object_name, @method_name, id: nil, value: @selected&.value, data: { behavior: "hidden-field", text: @selected&.text }, **hidden_field_args %>
    <% end %>

    <%= text_field @object_name,
      @method_name,
      class: "awc-autocomplete-input",
      value: multiple? ? nil : @selected&.text,
      name: nil,
      autocomplete: "off",
      spellcheck: false,
      autocapitalize: "none",
      disabled: @disabled,
      data: {
        target: "awc-autocomplete.input",
        action: "mousedown->awc-autocomplete#handleInputMousedown blur->awc-autocomplete#handleInputBlur keydown->awc-autocomplete#handleInputKeydown input->awc-autocomplete#handleInput"
      },
      **search_field_args %>
    <div class="awc-autocomplete-end-adornment" data-trigger>
      <% if @clearable %>
        <%= content_tag :button, type: :button, class: "awc-autocomplete-adornment-btn awc-autocomplete-clear-btn btn btn-light", title: "Clear", disabled: @disabled, data: { action: "click->awc-autocomplete#handleClear", target: "awc-autocomplete.clearBtn" } do %>
          <i class="bi bi-x-lg"></i>
        <% end %>
      <% end %>

      <div aria-hidden="true" class="awc-autocomplete-adornment-decorator">
        <i class="bi bi-caret-down-fill"></i>
      </div>
    </div>
  <% end %>

  <div role="listbox" class="awc-autocomplete-listbox dropdown-menu" tabindex="-1" data-target="awc-autocomplete.listbox">
    <div role="presentation" class="awc-autocomplete-options" data-target="awc-autocomplete.optionsContainer">
      <% unless ajax? %>
        <% options.each do |option| %>
          <%= option %>
        <% end %>
      <% end %>
    </div>

    <% if ajax? %>
      <div role="presentation" class="awc-autocomplete-spinner">
        <%= render(Impulse::SpinnerComponent.new(role: :none)) %>
      </div>
    <% end %>

    <div role="presentation" class="awc-autocomplete-blankslate">
      <%= blankslate.presence || "We couldn't find that!" %>
    </div>

    <% if ajax? %>
      <div role="presentation" class="awc-autocomplete-error">
        <%= error.presence || "An error occurred. Please try again!" %>
      </div>
    <% end %>
  </div>
<% end %>
