<%= render(Impulse::BaseRenderer.new(**@system_args)) do %>
  <%= button %>

  <div id="<%= @panel_id %>" role="dialog" class="popover bs-popover-auto" tabindex="-1" data-target="awc-popover.panel" hidden>
    <div class="arrow" data-target="awc-popover.arrow"></div>
    <%= header %>
    <%= body %>
  </div>
<% end %>
