<%= render(Impulse::BaseRenderer.new(**@system_args)) do %>
  <%= trigger %>

  <dialog id="<%= @panel_id %>" class="awc-popover-container bs-popover-auto" data-target="awc-popover.panel" data-action="close->awc-popover#hide">
    <div class="arrow" data-target="awc-popover.arrow"></div>
    <%= header %>
    <%= body %>
  </dialog>
<% end %>
